<div class="main-body">
  <div class="main-header">
    <div class="group-name">
    group1
    </div>
    <div class="chat-end">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
  <div class="main-chat">
    <div class="chat">
      <div class="top-contents">
        <div class="chat-name">
        Suzu
        </div>
        <div class="date">
        2020/12/17(Sat) 12:40:00
        </div>
      </div>
      <div class="chat-text">
      おはよう
      </div>
    </div>
    <div class="chat">
      <div class="top-contents">
        <div class="chat-name">
        Yuki
        </div>
        <div class="date">
        2020/12/17(Sat) 12:43:00
        </div>
      </div>
      <div class="chat-text">
      Hi.
      </div>
    </div>
  </div>
  <div class="main-form">
    <form class="message-form">
    <div class="form-left">
      <input type=text placeholder="type a message"class="message-area">
        <label class="form-image">
        <span class="image-file">画像</span>
        <input type="file" class="hidden">
        </label>
    </div>
      <input type=submit value="送信" class="submit-btn">
    </form>
  </div>
</div>